.login {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.header {
  width: 100%;
  text-align: center;
}

.password {
  width: 100% !important;
  margin: 0 !important;
}

.link {
  text-decoration: none;

  button {
    width: 100%;
  }
}

.form {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;

  & > div, > a, > button {
    margin-bottom: 1rem !important;
  }
}


